/* import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --text-color:white;
    --icon-color: #acacbe;
    --icon-hover-bg: #5b5e71;
    --placeholder-color: #cccccc;
    --outgoing-chat-bg: #343541;
    --incoming-chat-bg: #444654;
    --outgoing-chat-border: #343541;
    --incoming-chat-border: #444654;
}

.light-mode{
    --text-color: black;
    --icon-color: #5b5e71;
    --icon-hover-bg: #d1d1d1;
    --placeholder-color: #7a7a7a;
    --outgoing-chat-bg: #f0f0f0;
    --incoming-chat-bg: #e0e0e0;
    --outgoing-chat-border: #dcdcdc;
    --incoming-chat-border: #cfcfcf;
}

body{
    background: var(--outgoing-chat-bg);
}

/* Chat Container */
.chat-container{
    max-height: 100vh;
    padding-bottom: 150px;
    overflow-y: auto;
    
}

.default-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    padding: 0 10px;
    text-align: center;
    color: var(--text-color);
}
:where(.chat-container, textarea)::-webkit-scrollbar{
    width: 6px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-track{
    background: var(--incoming-chat-bg);
    border-radius: 25px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-thumb{
    background: var(--icon-color);
    border-radius: 25px;
}
.chat-container .chat{
    padding: 25px 10px;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

.chat-container .chat.outgoing{
    background: var(--outgoing-chat-bg);
    border: 1px solid var(--outgoing-chat-border);
  
    
}

.chat-container .chat.incoming{
    background: var(--incoming-chat-bg);
    border: 1px solid var(--incoming-chat-border);
    
}

.chat .chat-content{
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.chat .chat-content span{
    font-size: 1.35rem;
    color: var(--icon-color);
    visibility: hidden;
}

.chat:hover .chat-content:not(:has(.typing-animation)) span{
    visibility: visible;
}

.chat .chat-details{
    display: flex;
    align-items: center;

}

.chat .chat-details img{
    width: 40px;
    height: 40px;
    align-self: flex-start; /* Aligns the image to the top */
    border-radius: 2px;
    object-fit: cover;
}

.chat .chat-details p{
    white-space: pre-wrap;
    font-size: 1.1rem;
    padding: 0 50px 0 25px;

}

span.material-symbols-rounded{
    user-select: none;
    cursor: pointer;
}

.typing-animation{
    display: inline-flex;
    padding-left: 25px;
    
}

.typing-animation .typing-dot{
    height: 7px;
    width: 7px;
    opacity: 0.7;
    margin: 0 3px;
    border-radius: 50%;
    background: var(--text-color);
    animation: animateDots 1s var(--delay) ease-in-out infinite;
}

@keyframes animateDots {
    0%, 44%{
        transform: translateY(0px);
    }
    22%{
        opacity: 0.4;
        transform: translateY(-6px);
    }
    44%{
        opacity: 0.2;
    }

}


/* Input Section */
.input-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--outgoing-chat-bg);
    border: 1px solid var(--outgoing-chat-border);
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.input-container .input-content{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 950px;
}

.input-content .input-textarea{
    width: 100%;
    display: flex;
    position: relative;
}

.input-textarea textarea{
    width: 100%;
    height: 55px;
    padding: 15px 45px 15px 20px;
    border-radius: 4px;
    background: var(--incoming-chat-bg);
    color: var(--text-color);
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid var(--incoming-chat-border);
    resize: none;
    font-size: 1rem;
    outline: 1px solid var(--incoming-chat-bg);
}

.input-textarea span{
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    
}
.input-textarea textarea::placeholder{
    color: var(--placeholder-color);
}

.input-textarea textarea:valid ~ span{
    visibility: visible;
}
.input-content span{
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;    
    justify-content: center;
    color: var(--icon-color);

}
.input-controls{
    display: flex;
}

.input-controls span{
    background: var(--incoming-chat-bg) ;
    border: 1px solid var(--incoming-chat-border);
    margin-left: 7px;
    font-size: 1.4rem;
    border-radius: 4px


}



